name: risk_analytics_mm

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 1 * * *" ## Trigger on every day at 1:00 UTC

  workflow_dispatch: ## manual trigger

permissions:
  contents: write

jobs:
  risk_analytics_mm:
    name: Incremental Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r risk_analytics_mm/requirements.txt
      - name: earthquake api to db
        run: |
          python scripts/earthquake_api_todb.py
      - name: location to address
        run: |
          python scripts/earthquake_loc_to_address.py
      - name: Run dbt debug
        run: |
          which dbt
          dbt --version
          cd risk_analytics_mm
          dbt debug
          duckcli risk_analytics_mm.duckdb -e "select count(*) from usgs_earthquakes;"
      - name: Push updated duckdb to repo
        run: |
          git config user.name "Github Actions"
          git config user.email "actions@users.noreply.github.com"
          git add risk_analytics_mm/risk_analytics_mm.duckdb
          git commit -m "GitHub Action: push updated duckdb" && git push || true
