name: risk_analytics_mm

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 1 * * *" ## Trigger on every day at 1:00 UTC

  workflow_dispatch: ## manual trigger

  jobs:
    risk_analytics_mm:
      name: Get updated earthquake data from USGS
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo content
          uses: actions/checkout@v4
  
        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"
            cache: "pip"
  
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Run dbt debug
          run: |
            which dbt
            dbt --version
            dbt debug
